#shop{
  background-color:#ff75a0;
}
body{
  font-family: 'Cinzel', serif;
}
h1{
font-family: 'Cinzel', serif;
font-size: 5rem;
padding-left: 20%;
padding-right: 20%;
padding-top: 10%;
padding-bottom: 0;
color:#fff;
margin-bottom: 0;
}
h3{
  padding-left: 40%;
  padding-right:  20%;
  padding-top: 0;
  padding-bottom: 0;
  color:#fff;
  font-family: 'Cinzel', serif;
}

/* text */
.text{
  padding-left: 70%;
  padding-top: 0;
  margin-top: 0;
}
.space{
  padding-left: 10%
}
/* fadingcolor */
.a {
    background-color: #ff75a0;

}
/* images */
.chatpic{
  padding-left:20%;
}

/* buttons */
.but{
  margin-top: 10%;
  margin-left: 25%;
  padding-bottom: 0;
  margin-bottom: 0;

}
.but2{
  margin-top: 10%;
  margin-left:50%;
}
.custom-shape-divider-bottom-1618722718 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1618722718 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 138px;
}

.custom-shape-divider-bottom-1618722718 .shape-fill {
    fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1618722718 svg {
        width: calc(100% + 1.3px);
        height: 138px;
    }
}
